<!DOCTYPE html>
<html>
<head>
  <title>TourBus</title>
  <%= stylesheet_link_tag    "tour_bus/application", media: "all" %>
  <%= javascript_include_tag "tour_bus/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
